#map {
    width: 100%;
    /*height: 90vh;*/
    min-height: 100%;
    display: block;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}


.navbar.navbar-fixed-bottom.mic-place {
    border-top: 1px solid rgba(255, 255, 255, .07);
    bottom: 0;
    position: fixed;
}

.nopadding {
	padding: 0 !important;
}

.mic {
    position: absolute;
    transform: translate(-50%,-50%);
}

.mic-button {
    width: 10%;
}

#input {
    height: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.26);
    color: #fff;
    font-size: 25px;
}

.input-section {
    height: 70px;
}

#response {
        width: 100%;
    background: transparent;
    border: transparent;
    resize: none;
}
/*asdf*/

@media (max-width: 769px) {
    .map svg {
        width: 100%;
    }
}